footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: darkblue;
    background-color: rgba(204, 206, 87, 0.418);
    margin-bottom: 0;
   

}