/* Basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --mainColor: #24305f;
    --secondaryColor: tomato;
    --textColor: white;
    --blueBlack: #1a1a1a; 
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: rgba(204, 206, 87, 0.418);
    color: rgb(211, 211, 211);
}

.navbar-icons-container {
    display: flex;
    justify-content: flex-end;
}


.navbar-logo {
    width: 50px;
    height: 50px;
}


nav {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

nav a {
    margin: 0 1rem;
    color: rgb(9, 23, 85);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--secondaryColor);
}


.nav-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.nav-close-btn {
    visibility: hidden;
}


.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end; 
    
}


@media screen and (max-width: 1024px) {
   
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #14234e5d;
        transition: transform 1s;
        transform: translateY(-100vh); 
        height: fit-content;
        top: 80px;
        
    }

  
    header .responsive_nav {
        transform: translateY(0); 
    }

    nav .nav-close-btn {
        display: none;
        position: absolute;
        top: 2rem;
        right: 6rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    .nav-icon {
        font-size: 1.2rem;
        margin-left: 0px;
    }

    .navbar-logo {
        width: 50px;
        height: auto;
        display: inline-block;
    }
   
}


@media screen and (min-width: 1024px) {
    .navbar-links-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; 
        gap: 20px;
        
    }
    
    .center-links {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
       
    }

    .nav-icons {
        flex-direction: row;
        gap: 10px;
    }
   
    .nav-icons {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-icon {
        color: var(--blueBlack);
        font-weight: bold;
        transition: color 0.3s ease-in-out;
    }

    .nav-icon:hover {
        color: #58e218;
    }

    .nav-btn, .nav-close-btn {
        color: white;
    }

   
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px ;
        background-color: #b2c02f83;
        color: #ffffff;
    }
}

.nav-icon {
    color: rgb(17, 235, 17);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    gap: 10px;
    transition: color 0.3s ease-in-out;
    padding: 10px 20px;
}

.nav-icon:hover {
    color: #17df17;
}


@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .responsive_nav {
        display: flex;
        flex-direction: column; 
        gap: 20px;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #14234e5d;
        width: 100%;
        padding: 20px;
        height: fit-content;
       

    }

    

    .nav-btn {
        display: block;
       
    }

    .nav-icons {
        justify-content: center;
        
    }
    
}
